# The following options will be passed to all MySQL clients
[client]
port            = 3306
socket          = /opt/ericsson/com.ericsson.oss.security/idenmgmt/mysql/mysql.sock

[mysqld]
basedir=/opt/mysql
datadir=/ericsson/mysql/data
user=idmmysql
port            = 3306
socket          = /opt/ericsson/com.ericsson.oss.security/idenmgmt/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0
max_connections=300

[mysqld_safe]
log-error	=/var/log/mysql/mysqld.log
pid-file	=/var/run/mysqld/mysqld.pid

